<%= render "shared/header" %>

<div class='main' >
  <%= render "shared/category" %>
  <div class='main-center' >
    <div>
      <h2>はじめに</h2>
      <p >
        このサイトはRuby on railsでアプリを作成したことがある方を対象として、〜したい時に、どう書くかのコードをまとめたサイトになります。<br>
        プログラミングスクールで学んだことが中心で、理屈等は抜いてシンプルな内容にするようにしています。<br>
        (初めてのアプリ兼自分用の備忘録になります)
      </p>
      <p>
      <br><br>
        PC環境 & ソフト<br>
        Mac OS Catalina 10.15.6<br>
        ruby 2.6.5<br>
        rails 6.0.0<br>
        Visual Studio Code<br>
        Sequel pro<br>
      </p>
      <br><br>
      <p>
        <h3>免責事項</h3>
        当サイトへの情報・資料の掲載には注意を払っておりますが、掲載された情報の内容の正確性については一切保証しません。<br>
        また、当サイトに掲載された情報・資料を利用、使用、ダウンロードするなどの行為に関連して生じたあらゆる損害等についても、理由の如何に関わらず、一切責任を負いません。<br>
      </p>
    </div>
    <%# <div class='main-admin'>
      <h2>以下は管理用です</h2>
        <%=link_to '登録', new_user_registration_path, class:'' %>
    <%# </div> %>
  </div>
  <%= render "shared/leftside" %>
</div>