<div class='header' >
  <h2 class='header-title'>
    プログラミング初心者のためのまとめ
  </h2>
  <p  class='header-sub-title'>
    Ruby on railsを学習し始めた自分が、〜したい時どう書くんだったっけ？をまとめたサイトです
  </p>
  <%= form_with(url: "", local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: 'キーワードから探す', class: 'input-box' %>
      <button class="search-button">
        検索
      </button>
  <% end %>
  <div class='first-note'>
    <%=link_to 'はじめに', users_path, class:'first-note-link' %>
  </div>
 </div>