<div class='main-right' >
  <p class='main-right-date'>
    <% if @old_date.present? %>
      最終更新日 : <%= @old_date.updated_at.strftime("%Y/%m/%d")%>
    <% end %>
  </p>
  <p class='main-right-title'>
    新着内容<br>
    2020/11/12 アプリをデプロイ<br>
    2020/11/18 勉強になるサイトを追加
  </p>

  <div class='main-right-anotherlink' >
    <p>
    勉強になるサイトへのリンクです
    </p>
    <%=link_to '・JavaScript Primer', "https://jsprimer.net/" %>

  </div>
</div>