<%= render "shared/header" %>

<div class='main' >
  <div class='main-left' >
    <p class='main-left-title'>
      カテゴリ別
    </p>
  </div>
  <div class='main-center' >
    <p class='main-left-title'>
      目次です(見たい番号をクリックしてください)
    </p>
    <table class='index-table'>
      <tbody>
        <tr>
          <th class='index-category'>カテゴリ</th>
          <td class='index-title'>タイトル</td>
        </tr>
        <%= render partial: 'code', collection: @codes %>
      </tbody>
    </table>
  </div>
  <div class='main-right' >
    <p class='main-right-title'>
      新着内容
    </p>
  </div>
</div>
