<%= render "shared/header" %>

<div class='main' >
  <%= render "shared/category" %>
  <div class='main-center' >
    <p class='main-left-title'>
      目次です(見たいタイトルをクリックしてください)
    </p>
    <table class='index-table'>
      <tbody>
        <tr>
          <th class='index-category'>カテゴリ</th>
          <td class='index-title'>タイトル</td>
        </tr>
        <%= render partial: 'code', collection: @codes %>
      </tbody>
    </table>
  </div>
  <%= render "shared/leftside" %>
</div>
